//sin parametros
@mixin flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

//con parametros
@mixin grilla ($colum, $row) {
 grid-template-columns: $colum;
 grid-template-rows: $row;
}

//con y sin parametros
@mixin imagen ($width) {
    width:$width;
    max-width: 300px;
    height: auto;
}
