//sin parametros
@mixin flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin display {
    display: flex;
    justify-content: center;
}

//con parametros
@mixin grilla {
    display: grid;
    grid-template-columns: repeat(3, 1fr);  
}

@mixin img {
    width: 300px;
    height: auto;
}

//con y sin parametros
@mixin imagen ($width) {
    width: $width;
}
