//sin parametros
@mixin flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin display {
    display: flex;
    justify-content: center;
}

@mixin direction {
    display: flex;
    flex-direction: column;
}

//con parametros
@mixin grilla {
    display: grid;
    grid-template-columns: repeat(3, 1fr);  
}

@mixin img {
    width: 300px;
    height: auto;
}

@mixin pixeles {
    gap: 30px;
    margin: 40px 0;
}


//con y sin parametros
@mixin imagen ($width) {
    width: $width;
}
