@use "../utilities/variables" as *;
@use "../utilities/mixin" as *;

//index
//body
body {
    p {
        font-size: 14px;
    }
}

//header

header {
    padding: 1.5rem 0;
    margin-bottom: 2rem;

    .contenedor {
        @include display
    }

    .header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    nav {
        ul {
            list-style: none;
            @include display;
            gap: 2rem;
            margin-top: 1rem;
        }
    }
}

//main
main {
    padding: 3rem 4rem;
    font-family: serif;
    font-size: 20px;
    text-align: center;

    h1 {
        color: $color-principal;
    }

    h2 {
        margin: 3rem 0 1.5rem 0;
    }

    h3 {
        margin-bottom: 1rem;
    }

    .productos {
        @include grilla;
        gap: 2rem;
        margin-top: 2rem;
    }

    .outfits {
        @include grilla;
        gap: 2.5rem;
        margin-top: 2rem;

        div:hover {
            padding: 1rem;
            border-radius: 10px;
            transition: transform 0.3s ease;
        }

        p {
            font-weight: 600;
            font-family: serif;
        }

        img {
            @include imagen (100%);
            max-width: 300px;
            height: auto;
        }


    }
}

//footer
footer {
    color: $color-secundario;
    font-family: serif;
    margin-top: 4rem;
    padding: 2rem;

    nav {
        ul {
            @include direction;
            gap: 1rem;
        }
    }
}

//pagina de contacto
.header {
    @include flex;
    padding: 2rem 0;
}

.container {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr;
    grid-template-areas:
        "header"
        "main"
        "sidebar"
        "footer";
}

.header {
    grid-area: header;
}

.main {
    grid-area: main;
}

.sidebar {
    grid-area: sidebar;
}

.footer {
    grid-area: footer;
}

.contacto {
    @include direction;
    align-items: center;
    gap: 2rem;
}

.logo {
    @include flex;
    gap: 1rem;

    img {
        @include imagen (40px);
    }
}

.formulario {
    @include direction;
    gap: 1rem;
}

input,
    textarea {
        width: 100%;
        padding: 0.5rem;
    }

//quien es nabi
.breadcrumb {
    justify-content: center;
}

.bio {
    display: flex;
    align-items: center;
    @include pixeles;

    p {
        flex: 1;
    }

    img {
        @include img;
    }
}

.deporte {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    @include pixeles;

    p {
     flex: 1;
    }
    img {
        @include img;
    }
}

// media queries
//TABLET


