@use "../utilities/variables" as *;
@use "../utilities/mixin" as *;

//header
.contenedor {
    @include display
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    padding: 1.5rem 0;
    margin-bottom: 2rem;
    nav {
        ul {
            list-style: none;
            @include display;
            gap: 2rem;
            margin-top: 1rem;
        }
    }
}

//main
